<!DOCTYPE html>
<html>
  <!-- < % = render 'partials/test' % > -->
  <%= render 'partials/head' %>
<body>
  <%= render 'partials/user_nav' %>  <!-- sign out, sign-in and sign-up -->

  <% if user_signed_in? %> 
    <%= render 'partials/jumbotron' %>
    <%= render 'partials/headings' %>

  <% else %> <!-- signin -->
    <%= render 'partials/navbar' %> <!-- < % = render 'partials/yield' % >   < % = yield % > -->
  <% end %>
  
</body>
  <%= render 'partials/footer' %>

</html>